In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pathlib import Path
from datetime import datetime
import json
import random

In [8]:
import yfinance as yf

In [9]:
thai_stocks = ['AOT.BK', 'CPF.BK', 'KTC.BK', 'SCB.BK' 'UTP.BK']
us_stock = ['MANU', 'TSLA']

In [11]:
stock = random.choice(thai_stocks)
test = yf.Ticker(stock)
hist = test.history(period='1mo', interval='1d')
hist

             Open   High    Low  Close    Volume  Dividends  Stock Splits
Date
2021-05-25  61.25  61.75  60.75  61.00  17715000          0             0
2021-05-27  61.25  63.00  61.00  63.00  66153400          0             0
2021-05-28  63.00  63.50  62.25  62.25  26031200          0             0
2021-05-31  62.25  63.00  62.00  63.00  12385900          0             0
2021-06-01  63.25  65.00  62.50  64.75  36781300          0             0
2021-06-02  65.25  65.25  64.00  64.50  19827900          0             0
2021-06-04  64.75  64.75  64.00  64.00  12678800          0             0
2021-06-07  64.50  65.00  64.25  64.50  11967800          0             0
2021-06-08  64.50  64.75  63.50  64.75  17415200          0             0
2021-06-09  65.00  66.25  64.50  64.75  31284100          0             0
2021-06-10  65.50  66.00  64.75  65.00  36784900          0             0
2021-06-11  65.50  68.75  65.25  68.50  91203900          0             0
2021-06-14  68.75  68.75  66.75  67.25  32550200          0             0
2021-06-15  67.00  68.00  66.75  67.50  14451800          0             0
2021-06-16  67.50  67.50  66.75  67.25  11388900          0             0
2021-06-17  67.50  68.25  67.25  67.50  22965100          0             0
2021-06-18  67.75  67.75  66.00  66.00  36698700          0             0
2021-06-21  65.75  66.00  64.75  65.75  34072200          0             0
2021-06-22  66.00  66.50  65.50  66.00  29049600          0             0
2021-06-23  66.25  66.50  65.50  65.75  13794000          0             0
2021-06-24  65.25  65.50  63.00  64.00  45120300          0             0
2021-06-25  64.00  64.50  63.25  63.50  16152200          0             0

In [63]:
def open_diff_nday(hist, threshold, ndays):
  ''' 
    Calculate if open price in next N days increase or decrese more than
    threshold or not. 
    Return 
      1 if open price is more than threshold 
      -1 if open price is less than threshold 
      0 otherwise
  '''
  features = []
  price = hist['Open'].to_numpy()
  for index, x in enumerate(price[:-ndays]):
    # print(f'{index} days -> {x} -> {([price[index+i+1] for i in range(5)])}')
    diff = [price[index+i+1] for i in range(ndays)]
    diff = np.array(diff, dtype=np.float32)
    diff = (diff - x) * (100 / x) 
    score = diff[diff > threshold].size - diff[diff < -threshold].size
    if score > 0:
      features.append(1)
    elif score < 0:
      features.append(-1)
    else:
      features.append(0)
  
  features = np.array(features, dtype=np.int8)
  return features

In [66]:
open_diff_nday(hist, threshold=5, ndays=5)

array([-1, -1, -1, -1,  0,  1,  1,  0,  1,  1,  1,  1,  1,  0, -1,  0,  0],
      dtype=int8)