In [1]:
import random
import yfinance as yf

In [2]:
thai_stocks = ['AOT.BK', 'CPF.BK', 'KTC.BK', 'SCB.BK' 'UTP.BK']
us_stock = ['MANU', 'TSLA']

In [3]:
stock = random.choice(thai_stocks)
test = yf.Ticker(stock)
hist = test.history(period='1mo', interval='1d')
hist

             Open   High    Low  Close     Volume  Dividends  Stock Splits
Date
2021-05-25  78.25  84.75  77.25  83.00   29504400          0             0
2021-05-27  76.50  77.25  73.50  73.50  159166300          0             0
2021-05-28  74.25  75.00  71.25  73.25   72203300          0             0
2021-05-31  72.75  74.00  72.50  73.00   16591300          0             0
2021-06-01  73.00  74.75  72.75  74.50   25505100          0             0
2021-06-02  75.00  75.00  73.50  74.00   14988900          0             0
2021-06-04  73.75  74.50  73.50  73.50    9761500          0             0
2021-06-07  73.75  74.25  72.25  72.25   13875000          0             0
2021-06-08  72.25  72.50  71.50  72.25   13314200          0             0
2021-06-09  72.50  73.00  71.75  72.50   11217100          0             0
2021-06-10  72.50  73.00  71.00  71.50   12136500          0             0
2021-06-11  71.50  72.25  71.50  71.50    4669300          0             0
2021-06-14  72.25  72.50  71.50  72.25    5755300          0             0
2021-06-15  72.00  72.75  70.00  70.00    9107400          0             0
2021-06-16  69.25  69.25  65.25  66.50   58437800          0             0
2021-06-17  66.75  67.50  66.25  66.50   18185300          0             0
2021-06-18  66.75  67.50  65.50  66.50   23149200          0             0
2021-06-21  65.50  67.25  65.50  67.00   13999800          0             0
2021-06-22  68.00  69.00  66.50  66.50   17511500          0             0
2021-06-23  67.00  68.00  66.25  66.50    7608300          0             0
2021-06-24  67.00  67.25  65.75  66.50    7370900          0             0
2021-06-25  67.00  67.50  66.50  67.00    5474000          0             0